<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>com.mySampleApplication.server.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>9999</param-value>
        </init-param>
        <init-param>
            <param-name>removePrefix</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/neo4j-rest/*</url-pattern>
    </servlet-mapping>

</web-app>
